---
import Gallery from "@/components/Gallery.astro";
import Layout from "@/layouts/StoreLayout.astro";
import ProductBreadcrumb from "@/components/ProductBreadcrumb.astro";

import AddToCartForm from "@/components/store/AddToCartButton.jsx";
import { PRODUCTS } from "@/constants/products";

const { id } = Astro.params;
const idx = id - 1;
const product = PRODUCTS.at(idx);

export async function getStaticPaths() {
  return PRODUCTS.map((product) => ({
    params: { id: product.id },
  }));
}
---

<Layout title={`${product?.title}`}>
  {
    product && (
      <section class="py-8 mt-16 px-8 md:px-4 max-w-screen-xl mx-auto">
        <ProductBreadcrumb title={`${product.title}`} id={`#${product.id}`} />
        <div class="mx-auto container grid place-items-center grid-cols-1 gap-x-7 md:grid-cols-2">
          <Gallery product={product} />
          <div class="flex flex-col">
            <h2 class="mt-4 md:mt-0 mb-4 w-full text-3xl text-pretty">
              {product.title}
            </h2>
            <h5 class="w-full text-xl font-bold">${product.price}</h5>
            <p class="mt-4 text-base font-normal leading-[27px] text-neutral-700 dark:text-neutral-300 mx-auto text-balance">
              {product.description}
            </p>
            <AddToCartForm client:load product={{
              name: product.title,
              imageSrc: product.images[0],
              id: product.id,
              price: product.price
            }} />
          </div>
        </div>
      </section>
    )
  }
</Layout>