---
import InfoLayout from "@/layouts/InfoLayout.astro";
import TeamCard from "@/components/TeamCard.astro";
import Typography from "@/components/Typography.astro";

import { TEAM_MEMBERS } from "@/constants/team-members";
---

<InfoLayout title="team">
  <main class="max-w-screen-xl mx-auto px-6 py-4">
    <section class="flex flex-col gap-y-6 gap-x-8 mt-16">
      <div class="animate-fade-in-up animate-duration-slow">
        <Typography
          as="h2"
          variant="figtree-title"
          class="text-5xl lg:text-6xl"
        >Nuestro equipo</Typography>
        <p class="text-neutral-700 dark:text-neutral-300 max-w-lg text-balance">Estamos dedicados con la excelencia e innovación, aplicando lo que aprendemos para crear productos de alta calidad que reflejan nuestra creatividad y dedicación.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-2 animate-fade-in-up animate-duration-slower animate-delay-250">
        {
          TEAM_MEMBERS.map(({ name, role, secondaryPfp, motto, imgWidth, imgHeight, socialMedia }, idx) => (
            <TeamCard
              name={name}
              role={role}
              pfp={secondaryPfp}
              motto={motto}
              imgLoading={idx < 3 ? "eager" : "lazy"}
              imgWidth={imgWidth}
              imgHeight={imgHeight}
              socialMedia={socialMedia}
            />
          ))
        }
      </div>
    </section>
  </main>
  </InfoLayout>
