---
interface Props {
  id: number;
  title: string;
  price: number;
  images: string[];
}

const { id, title, price, images } = Astro.props;
---

<a
  id={`${id}`}
  href={`/${id}`}
  class="group overflow-hidden rounded-lg shadow hover:shadow-md border-neutral-800 dark:border-neutral-50 border-4"
>
  <div class="relative">
    <img
      src={images[0]}
      alt={title}
      loading="eager"
      decoding="async"
      class="aspect-square"
    />
    <div
      class="absolute inset-0 z-10 grid items-end justify-items-center opacity-0 transition-all group-hover:bg-black/10 group-hover:opacity-100"
    >
      <span
        class="w-full gap-3 rounded-t-lg bg-gradient-to-r from-neutral-700 to-neutral-800 flex justify-center h-10 items-center text-white dark:from-neutral-100 dark:to-neutral-200 dark:text-neutral-950 font-semibold"
      >
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            ></path>
          </svg>
        </span>
        Shop now
      </span>
    </div>
  </div>
  <div
    class="flex justify-between py-3 px-5 text-xl text-zinc-700 dark:text-zinc-200 gap-1"
  >
    <h5 class="group-hover:underline">{title}</h5>
    <h5 class="font-bold">{`$${price}`}</h5>
  </div>
</a>
